<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="sabry">


    <ros2_control name="RobotSystem" type="system">

        <xacro:property name="PI" value="3.14159265359" />

        <!-- ros2_control Gazebo -->
        <!-- ROS 2 Humble -->
        <xacro:if value="$(arg is_ignition)">
            <hardware>
                <plugin>ign_ros2_control/IgnitionSystem</plugin>
            </hardware>
        </xacro:if>

        <!-- ROS 2 Iron or above -->
        <xacro:unless value="$(arg is_ignition)">
            <hardware>
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </hardware>
        </xacro:unless>

        <joint name="waist_joint">
            <command_interface name="position"/>
            <state_interface name="position">
               
            </state_interface>
        </joint>
        <joint name="upperarm_joint">
            <command_interface name="position"/>
            <state_interface name="position">
               
            </state_interface>
        </joint>
        <joint name="lowerarm_joint">
            <command_interface name="position"/>
            <state_interface name="position">
               
            </state_interface>
        </joint>
        <joint name="wrist_pitch_joint">
            <command_interface name="position"/>
            <state_interface name="position">
               
            </state_interface>
        </joint>
        <joint name="wrist_yaw_joint">
            <command_interface name="position"/>
            <state_interface name="position">
               
            </state_interface>
        </joint>
    </ros2_control>

</robot>
